fastapi==0.115.12
uvicorn[standard]==0.34.2
jinja2==3.1.6
python-multipart==0.0.20
python-dotenv==1.0.1

langchain==0.3.25
langchain-core==0.3.59
langchain-community==0.3.24
langchain-groq==0.3.2
langchain-text-splitters==0.3.8

fastembed==0.7.1
faiss-cpu==1.11.0

pydantic==2.11.4
jsonpatch==1.33